.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src-tauri/target
ocaml/_build
*.exe
.idea
.vscode/*
!.vscode/extensions.json
